
helloworld.js
node_modules/colors/examples/normal-usage.js
node_modules/colors/examples/safe-string.js
node_modules/colors/index.d.ts
node_modules/colors/lib/colors.js
node_modules/colors/lib/custom/trap.js
node_modules/colors/lib/custom/zalgo.js
node_modules/colors/lib/extendStringPrototype.js
node_modules/colors/lib/index.js
node_modules/colors/lib/maps/america.js
node_modules/colors/lib/maps/rainbow.js
node_modules/colors/lib/maps/random.js
node_modules/colors/lib/maps/zebra.js
node_modules/colors/lib/styles.js
node_modules/colors/lib/system/has-flag.js
node_modules/colors/lib/system/supports-colors.js
node_modules/colors/LICENSE
node_modules/colors/package.json
node_modules/colors/README.md
node_modules/colors/safe.d.ts
node_modules/colors/safe.js
node_modules/colors/themes/generic-logging.js
package-lock.json
